@import "tailwindcss";

.container {
  position: relative;
  height: 110vh;
}
.row {
  display: inline-flex;
  margin-top: -21px;
  margin-left: -25px;
}
.row:nth-child(even) {
  margin-left: 2px;
}

.row .box {
  position: relative;
  width: 52px;
  height: 58px;
  background: #0f0000;
  margin: 1px;
  transition: ease-out 1.45s;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.row .box:hover {
  transition: ease-in 0.01s;
  transform: scale(1.09);
  background: #75030396;
}
