@import "tailwindcss";

:root {
  --SideBarBackground: #85859c;
  --SidebarBorderLeft: #403c4e;
  --SideButton: #000000;
  --SideButtonHover: #2e2e2e;
  --SideButtonBorder: #fffdf4;

  --LearnMoreBtn: #595278;
}

/* #e5e5e570, #17103486 */

body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Play", sans-serif;
  width: 250px;
  height: auto;
}



.RoundBtnGradient {
  background: var(--SideButtonBorder);
}
.RoundBtn {
  background: var(--SideButton);
  transition: all 0.2s ease;
}
.RoundBtn:hover {
  background: var(--SideButtonHover);
}

.RoundBtnImg{
  transition: all 0.2s ease;
}
.RoundBtnImg:hover {
  filter: brightness(1.1);
}
.underlineHover{
  opacity: 0;
  transition: opacity 0.2 ease;
  transform: translate(-50%);
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  color: white;
  border-radius: 0 21px 21px 21px;
}
.underlineHover:hover{
 transition: all 0.2s ease;
 opacity: 1;
}


.ImageContainer {
  background: var(--SideBarBackground);
  border-left: 6px solid var(--SidebarBorderLeft);
}

.underlineHover {
  background: var(--SideButtonHover);
}

.ProjectCardBorder {
  background: var(--SideButtonBorder);
}



.HeroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
