@import "tailwindcss";

:root {
  --NavbarColor: #fffa65;

  --SideBarBackground: #fffa65;
  --SideButton: #000000;
  --SideButtonHover: #2e2e2e;
  --SideButtonBorder: linear-gradient(to right, #888888, #c98ca7);

  --ProjectSectionBackground: #fffdf4;
  --ProjectSectionGraybox: #d9d9d9b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: #413000;
  height: 1000px;
  width: auto;
}
h1 {
  font-family: "Play", sans-serif;
  width: 250px;
  height: auto;
}

/* //! */
/* Navbar */
.Navbar {
  background-color: var(--NavbarColor);
}

/* //! */
/* //! */
/* 
SideBar
RoundBtn - Artstation, Github, Mail
*/
.Sidebar {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  background-color: var(--SideBarBackground);
}

.RoundBtnGradient {
  background: var(--SideButtonBorder);
}
.RoundBtn {
  background: var(--SideButton);
  transition: all 0.2s ease;
}
.RoundBtn:hover {
  background: var(--SideButtonHover);
}

.RoundBtnImg {
  transition: all 0.2s ease;
}
.RoundBtnImg:hover {
  filter: brightness(1.1);
}
/* //! */
/* //! */
/* Hero Main Card, Project Card */
.HeroMainContainer {
  box-shadow: 0px 0px 10px 0px #000000;
}
.HeroMain {
  border-radius: 27px;
  box-shadow: 0px 0px 60px 0px #000000;
}

/* Scroll animasjon - Hero */

/* //! */
/* //! */
/* Project Section */

.ProjectSectionContainer {
  background-color: var(--ProjectSectionBackground);
}

.ProjectImageContainer {
  background-color: var(--ProjectSectionBackground);
  box-shadow: 3px 3px 21px 0px #616161;
  border-radius: 27px;
}
.ProjectImageGraybox {
  border-radius: 21px;
  background-color: var(--ProjectSectionGraybox);
}
.GymAppImg1,
.GymAppImg2,
.GymAppImg3 {
}
.inview {
  animation: imgAnimasjon 0.5s ease-out forwards;
}
@keyframes imgAnimasjon {
}

.ProjectText {
  background-color: transparent;
}
/* //! */
