/* ////////////////////////////////! */
/* Navbar */
.Navbar,
.AboutNavbar,
.ContactPageNavbar {
  /* background-color: var(--NavbarColor); */
  font-family: Play;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  color: #f5c19a;
}

/* //! */
/* Hero Main Card, Project Card */

.HeroMain {
  border-radius: 27px;
  box-shadow: 0px 0px 60px 0px #000000;
}
.HeroText {
  text-shadow: 0 0 90px rgba(0, 0, 0, 5);
}

/* //! */
/* Project Section */
.ProjectSectionContainer {
  background-color: var(--ProjectSectionBackground);
  box-shadow: 0px 0px 5px 0px #616161;
}

.ProjectImageContainer {
  background-color: var(--ProjectSectionBackground);
  box-shadow: 3px 3px 21px 0px #616161;
  border-radius: 27px;
}
.ProjectImageGraybox {
  border-radius: 21px;
  background-color: var(--ProjectSectionGraybox);
}
.GymAppImg1,
.GymAppImg2,
.GymAppImg3 {
}
.ProjectText {
  background-color: transparent;
}
/* //! */
/* Footer Section */
.FooterContainer {
  box-shadow: 0px 0px 2px 0px #616161;
}
/* ////////////////////////////////! */
/* ////////////////////////////////! */
/* New Page */
/* About Page */
.AboutPageContainer {
  /* background-color: var(--BackGroundColor); */
  background-color: #d9d9d9;
}
/* //! */
/* Navbar About page */
.AboutNavbar {
  /* background-color: var(--NavbarColor);
  color: var(--TextColor); */
  background-color: #e7e7e7;
  color: #546e70;
}
/* //! */
/* Top container */
.AboutTopContainer {
  /* background-color: var(--BackGroundColor);
  color: var(--TextColor); */
  background-color: #d9d9d9;
  color: #546e70;
}
.AboutTextLine {
  background-color: #9ca7aa;
}
/* Mid container */
.AboutMidContainer {
  /* background-color: var(--BackGroundColor);
  color: var(--TextColor); */
  background-color: #d9d9d9;
  color: #546e70;
}
.ImgContainer1,
.ImgContainer2,
.ImgContainer3,
.ImgContainer4 {
  box-shadow: 3px 3px 5px 0px #616161;
  border-radius: 27px;
}
.RandomImage {
  box-shadow: 3px 3px 5px 0px #616161;
}
/* ////////////////////////////////! */
/* ////////////////////////////////! */
/* Contact Page */

.ContactPageCard {
  border-radius: 27px;
  box-shadow: 0px 0px 60px 0px #000000;
}
/* ////////////////////////////////! */
/* ////////////////////////////////! */
/* Gym App Project Page */
.ProjectPageGymmApp {
  background-color: var(--ProjectSectionGraybox);
  /* background-color: #546e70; */
  color: #546e70;
}

.projectPageContainer1 {
  background-color: var(--FooterColor);
}
.projectPageContainer2 {
  background-color: #2e2e2e;
  box-shadow: 1px 1px 10px 5px #2d2d2d;
  color: rgb(226, 226, 226);
}
.projectPageContainer3 {
}
.projectPageContainer4 {
  background-color: #bdbdbd;
  box-shadow: 1px 1px 10px 5px #6b6b6b;
}
